node_modules/
dist/
dist-electron/
release/
build/native-win/
build/native-linux/
build/native-mac/
.claude/
.idea/
.pi/
*.log
.env
.DS_Store
data/
*.sqlite
*.sqlite-shm
*.sqlite-wal
renderer/dist-renderer/
.zcode/
